<div class="product__delivery-info box-border-bottom">
  {{ product.metafields.product.delivery-info }}
</div>
<div class="product__weights-dims box-border-bottom">
  {{ product.metafields.product.weights-dims }}
</div>
